{% extends 'base.html' %}
{% block title %}Confirem Delete{% endblock %}
{% block content %}
<div class="card shadow-sm p-4 text-center">
    <h3>🗑️ Delete Expense</h3>
    <p>Are you sure you want to delete <strong>{{ expense.title }}</strong> (₹{{ expense.amount }})?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Yes, delete</button>
        <a href="{% url 'expense_list' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}